extends ../layouts/common.pug

block content
    if productCount
        div(style="height: 500px; overflow: scroll;")
            table.table
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Tên sản phẩm
                        th(scope="col") Số lượng
                        th(scope="col") Thành tiền
                        th(scope="col") 
                tbody
                    each product,index in products
                        tr
                            
                            td(scope="row")= index + 1
                            td
                                img.mr-3(src=product.productImage, style="height: 100px;")
                                a(href="/products/detail/" + product.productId)= product.productName
                            td= product.quantity
                            td= product.price + " ₫"
                            td 
                                a(href="/cart/delete/" + product.id).btn.btn-sm.btn-danger X
        h4.text-right.mr-5 Tổng cộng: #{totalPrice} ₫

        form(action="/cart/order", method="POST")
            .form-group.row
                label.col-sm-2.col-form-label(for='name') Họ tên
                .col-sm-10
                    input#name.form-control(type='text', placeholder='Họ và tên' required)
            .form-group.row
                label.col-sm-2.col-form-label(for='email') Email
                .col-sm-10
                    input#email.form-control(type='email', placeholder='Địa chỉ email' required)
            .form-group.row
                label.col-sm-2.col-form-label(for='phone') Số điện thoại
                .col-sm-10
                    input#phone.form-control(type='text', placeholder='Số điện thoại' required)
            .form-group.row
                label.col-sm-2.col-form-label(for='address') Địa chỉ giao hàng
                .col-sm-10
                    textarea#address.form-control(placeholder='Địa chỉ giao hàng' required rows="3")
                    button.btn.btn-lg.btn-success.mt-3(type="submit") Đặt hàng
    else
        h2.mt-5.text-center Chưa có sản phẩm nào trong giỏ hàng

    
        


