extends ../layouts/common.pug

block content
    .row.mt-5
        .col-md-4 
            img(src= product.image style="width:100%")
        .col-md-8 
            h1 #{product.name}
            h3.text-danger #{product.price} ₫
            p #{product.description}
            a.btn.btn-info.btn-lg(href='/cart/add/' + product.id) Thêm vào giỏ hàng

    form.mt-2(action="/products/detail/comment/" + product.id, method="POST")
        .form-group
            label(for='commentTextarea') Để lại bình luận
            textarea#commentTextarea.form-control(rows='3', placeholder="Bình luận của bạn ...", name="comment")
            button.btn.btn-success.mt-3 Đăng
    h4 Bình luận(#{commentCount})
    div.comment-box
        each comment in comments
            .row
                .col-1
                    img(src= comment.user.avatar, style="border-radius: 50%; width: 50px")
                .card.mb-3.col-11
                    .card-body
                        if comment.user.lastName && comment.user.firstName
                            h5.card-title= comment.user.lastName + " " + comment.user.firstName
                        else
                            h5.card-title= comment.user.email
                        p.card-text= comment.content
                        em(style="float: right;") #{comment.commentDate}
                        hr.mt-3.mb-3


